.container {
  width: 100%;
}

.content {
  padding: 10px 15px 20px;

  text-align: center;
}

.img {
  display: block;

  position: relative;

  margin: 0 auto;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 16px;

  transition: 0.15s ease-in-out;
}

.img:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.img > img {
  display: block;

  width: 100%;
  max-width: 200px;
  margin: 0 auto;

  border-radius: 16px;
}
